.autosuggest{
    max-width: 300px;
    width: 100%;
}

input {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    border: none;
    margin: 0 0 10px 0;
    color: #214001;
    background-color: #04BFAD;
    border-bottom: 1px solid #214001;
}
input:focus-visible {
    outline: none;
    border-bottom: 1px solid white;
}

button {
    background-color: #012626;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #027368;
}