h1{
  color: white;
  margin: 0;
  padding: 50px;
  max-width: 500px;
}

.App {
  text-align: center;
  background-color: #01403A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}